@model User;
@{
	ViewBag.Title = "Account";
}


<h3>Dashboard</h3>
<div class="welcome">
	<p>Hello, <strong>@Model.Username</strong></p>
</div>
<p>From your account dashboard. you can easily check & view your recent orders, manage your shipping and billing addresses and edit your password and account details.</p>
