<footer class="footer">
	<div class="footer-top">
		<div class="container">
			<div class="pt-80 pb-35">
				<div class="row">
					<div class="col-lg-3 col-md-6 col-sm-6 col-12">
						<div class="footer-about mb-40">
							<a href="/" class="footer-logo">
								<h2>Electrics St</h2>
							</a>
							<p>
								Lorem ipsum dolor sit amet, cons adipi elit, sed do eiusmod tempor incididunt ut aliqua.
							</p>
							<div class="payment-img">
								<img src="~/images/payment.webp" alt="Payment" />
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 col-sm-6 col-12">
						<div class="footer-information mb-40">
							<h3 class="footer-title">
								Information
							</h3>
							<ul>
							</ul>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 col-sm-6 col-12">
						<div class="footer-account mb-40">
							<h3 class="footer-title">My Account</h3>
							<ul></ul>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 col-sm-6 col-12">
						<div class="footer-address mb-40">
							<h3 class="footer-title">
								Get in touch
							</h3>
							<ul></ul>
							<div class="open-time">
								<p>Open : <span>8:00 AM</span> - Close : <span>18:00 PM</span></p>
								<p>Saturday - Sunday : Close</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
	<div class="footer-bottom">
		<div class="container">
			<p class="copyright">
				Copyright ©2023 All rights reserved | Made with 
				<i class="ti ti-heart"></i>
				by 
				<span>Duc Dang</span>.
			</p>
		</div>
	</div>
</footer>

